<%- include('partials/header') -%>
    <div>
        <%= maze.value %>
    </div>
    <section class="text-center">
        <h2 class="my-3"><%= maze.title %></h2>
    </section>
    <section class="board">
        <table class="size-med" data-size="med">
            <tbody>
                <% let cellIdx=3 %>
                <% for(let i=0 ; i<14 ; i++){ %>
                    <tr class="table-row <%= i %>">
                        <% for(let j=0 ; j<14 ; j++){ %>
                            <% if(maze.value[cellIdx] === 'w') { %>
                                <td class="cell wall <%=`${i}-${j}`%>" id=<%=`${i}-${j}`%>></td>
                            <% }else{ %>
                                <td class= "cell <%=`${i}-${j}`%>" id=<%=`${i}-${j}`%>></td>
                            <% } %>
                            <% cellIdx++ %>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </section>

    <br>
    <br>
    <div class="text-center">
        <button class="btn btn-primary" id="edit-maze">Edit maze</button>
    </div>  
<%- include('partials/mazefooter') -%>